@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root {
    /* Default */
    --font-theme: "Inter", sans-serif;
    --background-color: hsl(0, 0%, 100%);
    --search-bg: hsl(0, 0%, 96%);
    --text-color: hsl(0, 0%, 2%);


    --toggle: hsl(0, 0%, 46%);
    --accent: hsl(274, 82%, 60%);
    --light-accent: hsl(273, 84%, 90%);
    --gray: hsl(0, 0%, 96%);
    --white: hsl(0, 0%, 100%);
    --footer: hsl(274, 82%, 60%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-theme)
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: var(--background-color);
}

header {
    height: 10vh;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.main__wrapper {
    margin: 0 auto;
    background-color: var(--background-color);
}

.logo__section {
    width: 25%;
    background-image: url('../../images/logo.svg');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}

.theme__section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 65%;
}

.theme__font-wrapper {
    width: 40%;
    cursor: pointer;
}


.theme__font-wrapper .theme__font-dropdown > select {
    padding: 1rem 0;
    outline: none;
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
}

.theme__font-wrapper .theme__font-dropdown > select > option:nth-of-type(1) {
    font-family: "Inter", sans-serif;
}

.theme__font-wrapper .theme__font-dropdown > select > option:nth-of-type(2) {
    font-family: "Lora", serif;
}

.theme__font-wrapper .theme__font-dropdown > select > option:nth-of-type(3) {
    font-family: "Inconsolata", monospace;
}

.theme__font-dropdown .arrow {
    height: 10px;
    width: 15px;
    background-image: url('../../images/icon-arrow-down.svg');
    background-repeat: no-repeat;
}

.theme__font-wrapper .divider {
    width: 1px;
    height: 100%;
    background-color: var(--gray);
}


.theme__mode-wrapper {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.theme__mode-wrapper .theme__mode {
    width: 50px;
    height: 25px;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    background-color: var(--toggle);
    cursor: pointer;
    transition: 0.2s background-color ease-in-out;
}

.theme__mode-wrapper .theme__mode--active {
    background-color: var(--accent);
}


.theme__mode .theme__toggle {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 10%;
    transform: translate(-10%);
    border-radius: 100%;
    background-color: var(--white);
    transition: 0.3s left ease-in-out;
}

.theme__mode .theme__toggle--active {
    position: absolute;
    left: 90%;
    transform: translate(-90%);
}

.theme__mode-wrapper .theme__icon {
    width: 50px;
    height: 20px;
    background-image: url('../../images/icon-moon.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    cursor: pointer;
}

main {
    padding: 1.5rem;
}

.search__wrapper {
    position: relative;
}

.search__wrapper>input {
    width: 100%;
    padding: 1.25rem;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 1rem;
    background-color: var(--search-bg);
    color: var(--text-color);
}


.search__wrapper>input:focus {
    border: 2px solid var(--accent);
}

.search__wrapper>button {
    width: 10%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-95%, -50%);
    border: none;
    outline: none;
    background-image: url('../../images/icon-search.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-color: var(--search-bg);
    cursor: pointer;
}

.dictionary__wrapper {
    margin: 2rem 0;
}


.dictionary__wrapper .dictionary__header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.dictionary__wrapper .dictionary__header .dictionary__word {
    width: 75%;
}

.dictionary__wrapper .dictionary__header .dictionary__word .word__spell {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--text-color);
}

.dictionary__wrapper .dictionary__header .dictionary__word .word__phonetics {
    padding: 1rem 0 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--accent);
}

.dictionary__wrapper .dictionary__header .dictionary__pronounce {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dictionary__wrapper .dictionary__header .dictionary__pronounce>svg>g>circle {
    cursor: pointer;
    fill: var(--accent);
}

.dictionary__wrapper .dictionary__header .dictionary__pronounce>svg>g>path {
    fill: var(--accent);
}

.dictionary__wrapper .dictionary__header .dictionary__pronounce>svg>g>circle:hover {
    opacity: 1;
    fill: var(--accent);
}

.dictionary__wrapper .dictionary__header .dictionary__pronounce>svg>g>circle:hover+path {
    fill: var(--white);
}

.dictionary__wrapper .dictionary__definition {
    margin: 2rem 0;
}

.dictionary__wrapper .dictionary__definition .word__type {
    font-size: 1.25rem;
    font-weight: bold;
    font-style: oblique;
    color: var(--text-color);
}

.dictionary__wrapper .dictionary__definition .word__meaning {
    margin: 2rem 0;
    color: var(--text-color);
}

.dictionary__wrapper .dictionary__definition .word__meaning .word__meaning-list .list__item {
    position: relative;
    padding: 1rem 1.5rem;
    list-style: none;
}

.dictionary__wrapper .dictionary__definition .word__meaning .word__meaning-list .list__item:before {
    content: "\25CF";
    /*escaped unicode coloured circle*/
    color: var(--accent);
    font-weight: bold;
    text-align: right;
    padding-right: 6px;
    position: absolute;
    left: 0;
}

.dictionary__wrapper .dictionary__definition .word__semantics {
    margin: 1rem 0;
}

.dictionary__wrapper .dictionary__definition .word__semantics>div {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 0;
}

.dictionary__wrapper .dictionary__definition .word__semantics>div>p {
    font-weight: 500;
    color: var(--text-color);
}

.dictionary__wrapper .dictionary__definition .word__semantics>div>span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}


.dictionary__wrapper .dictionary__definition .word__semantics>div>span>a {
    padding: 0 0.25rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--accent);
    cursor: pointer;
}

.dictionary__wrapper .dictionary__definition .word__source>p {
    padding: 0.5rem 0;
    font-weight: 500;
    color: var(--text-color);
}

.dictionary__wrapper .dictionary__definition .word__source>a {
    font-weight: 300;
    text-decoration: none;
    word-wrap: break-word;
    color: var(--text-color);
}
.error__message{
    color: var(--text-color);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer);
}

.footer__container {
    padding: 1.5rem;
    text-align: center;
    color: var(--white);
}

.footer__container .footer__text-container>p {
    padding: 0.5rem 0;
}

.footer__container .footer__text-container>p:nth-of-type(1) {
    font-size: 1.25rem;
    font-weight: 500;
    font-style: oblique;
}

.footer__container .footer__text-container>p:nth-of-type(2) {
    font-size: 1rem;
}


.footer__container .icon__container {
    padding: 1rem 0;
}

.footer__container .icon__container>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__container .icon__container>ul>li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.footer__container .icon__container>ul>li>a {
    color: var(--white)
}

.footer__container .icon__container>ul>li>a>i {
    font-size: 1.5rem;
}

.daily__word {
    width: 100%;
    margin: 2.5rem 0;
    font-style: oblique;
}

.daily__word>p {
    font-size: 1.75rem;
    font-weight: bolder;
    color: var(--text-color);
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .main__wrapper {
        width: 75%;
    }

    .search__wrapper>button {
        width: 10%;
        top: 50%;
        left: 99%;
        transform: translate(-99%, -50%);
    }

    .theme__section {
        width: 40%;
    }

}

@media only screen and (min-width: 1200px) {
    .main__wrapper {
        width: 60%;
    }

    .theme__section {
        width: 30%;
    }

    .theme__mode-wrapper .theme__mode {
        width: 50%;
    }
}

@media only screen and (min-width: 1600px) {
    .main__wrapper {
        width: 40%;
    }

    .theme__section {
        width: 35%;
    }

    .theme__mode-wrapper .theme__mode {
        width: 50%;
    }
}